include {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.min.js
include {{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.dev.js
include {{cookiecutter.project_slug}}/metadata.json
include {{cookiecutter.project_slug}}/package.json
include README.md
