include my_dash_component/my_dash_component.min.js
include my_dash_component/my_dash_component.dev.js
include my_dash_component/metadata.json
include my_dash_component/package.json
include package.json
include README.md
