include {{cookiecutter.project_shortname}}/{{cookiecutter.project_shortname}}.min.js
include {{cookiecutter.project_shortname}}/{{cookiecutter.project_shortname}}.dev.js
include {{cookiecutter.project_shortname}}/metadata.json
include package.json
include README.md
