# Packages needed to run the tests.
# Switch into a virtual environment
# pip install -r requirements.txt

chromedriver-binary
# dash>=1.0.0
-e git://github.com/plotly/dash.git@boilerplate-1.0#egg=dash
ipdb
percy
selenium
flake8
pylint
